[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/pocoproject/poco
[submodule "contrib/linenoise-ng"]
	path = contrib/linenoise-ng
	url = https://github.com/arangodb/linenoise-ng
[submodule "contrib/Stackless"]
	path = contrib/Stackless
	url = https://github.com/andrakis/Stackless
